--extra-index-url https://download.pytorch.org/whl/cu121

torch==2.5.1
torchvision==0.20.1

diffusers
transformers
accelerate
safetensors>=0.4.0

insightface
onnxruntime
replicate
runpod
Pillow
requests
huggingface_hub>=1.2.0,<2.0

git+https://github.com/tencent-ailab/IP-Adapter.git

einops
fal-client
tiktoken
sentencepiece
imageio
imageio-ffmpeg
